html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

:root {
  --Soft-blue: #8bacda;
  --Cyan: #00fff7;

  --dark-blue-main-BG: #0d192b;
  --dark-blue-card-BG: #14253d;
  --dark-blue-line: #2f415b;
  --White: #ffffff;

  --font-size-text: 1.8rem;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-600: 600;
}
